body, html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    width: 100%;
}
button, input, label {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    margin-left: 20%;
    color: rgb(115, 58, 222);
}

/* CSS */

/* Colors:
laranja: #FF5742
vermelho: #DE3A78
rosa: #D64CF5
roxo: #733ADE
azul: #001BFA
escuro: #2E0036
*/

/* CSS */

section {
    margin: auto;
    margin-top: 50px;
    height: auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article {
    height: 180px;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    margin: 20px;
    background-color: rgb(115, 58, 222, 0.2);
}

article > #foto {
    height: 50%;
    width: 40%;
    background-color: #733ADE;
    margin-right: 20px;
    float: left;
    display: flex;
    justify-content:center;
}  

#foto > img {
    height: 100%;
    max-width: 100%;
}

article > #nick {
    margin-bottom: 20px;
    color: black;
    overflow-x: hidden;
    font-size: 25px;
}

article > form {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

article > form > input[type="submit"] {
    background-color: white;
    border: 1px solid ;

    width: 70px;
    height: 30px;

    color: #733ADE;
}

article > form > input[type="submit"]:focus {
    background-color: #733ADE;
    color: white;
    outline: none;
} 

