<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Web Application from Archetype for Servlet 3.1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	// Funcionaa, se der algum erro no servidor que nao seja servletException nem IOException, ele captura aki:
	<error-page>
 		<exception-type>javax.persistence.RollbackException</exception-type>
 		<location>/WEB-INF/jsp/nav.jsp</location>
	</error-page>
</web-app>
